*{
    margin:0;
}
header{
    background-color: rgb(156, 85, 236);
    text-align: center;
    
}
.wrapper{
    width:max-content;
    margin: 0 auto;
    padding: 5rem;
}
form{
    padding: 4rem;
    background-color: rgb(199, 238, 148);
    border-radius: 1rem;
    text-align: left;

}
input{
    padding-top: 0.2rem;
}
label{
    padding: 0.5rem;
}
