*{
    margin:0;
}
header{
    background-color: brown;
}
.wrapper{
    width:max-content;
    margin: 0 auto;
    padding: 5rem;
}
form{
    padding: 2rem;
    background-color: blanchedalmond;
    border-radius: 1rem;

}